/* External dependencies should go to deps.css */
@import "./shadcn/shadcn.css";
@import "./tokens.css";
@import "./typography.css";

.lucide {
	/* Change this! */
	stroke-width: 1.5px;
}

@theme {
	--color-selection: var(--color-blue-300);
	--color-ring-red: var(--color-red-200);
	--color-ring-green: var(--color-green-200);
	--color-ring-yellow: var(--color-yellow-200);
	--color-ring-purple: var(--color-purple-200);
	--color-ring-orange: var(--color-orange-200);
	--color-ring-pink: var(--color-pink-200);
	--color-ring-blue: var(--color-blue-200);
	--color-ring-red: var(--color-red-200);
	--color-text-primary: var(--color-neutral-900);
	--color-text-secondary: var(--color-neutral-500);
	--color-text-secondary_hover: var(--color-neutral-600);
	--color-text-primary_on-brand: var(--color-neutral-50);
	--color-text-secondary_on-brand: var(--color-neutral-100);
	--color-text-tertiary: var(--color-neutral-400);
	--color-text-tertiary_hover: var(--color-neutral-500);
	--color-text-quternary: var(--color-neutral-400);
	--color-text-quternary_hover: var(--color-neutral-500);
	--color-text-quternary_on-brand: var(--color-neutral-200);
	--color-text-disabled: var(--color-neutral-300);
	--color-text-link: var(--color-blue-500);
	--color-text-link_hover: var(--color-blue-700);
	--color-text-link_disabled: var(--color-blue-400);
	--color-text-brand-primary: var(--color-brand-500);
	--color-text-brand-secondary: var(--color-brand-300);
	--color-text-brand-secondary_hover: var(--color-brand-400);
	--color-text-error-primary: var(--color-red-500);
	--color-text-error-secondary: var(--color-red-400);
	--color-text-success-primary: var(--color-green-500);
	--color-text-warning-primary: var(--color-yellow-600);
	--color-white: #ffffff;
	--color-border-primary: var(--color-neutral-300);
	--color-border-primary_hover: var(--color-neutral-400);
	--color-border-secondary: var(--color-neutral-200);
	--color-border-separator: var(--color-neutral-200);
	--color-border-disabled: var(--color-neutral-100);
	--color-border-dark: var(--color-neutral-500);
	--color-border-brand: var(--color-brand-500);
	--color-border-link: var(--color-blue-500);
	--color-border-error: var(--color-red-500);
	--color-border-error_inverse: var(--color-red-400);
	--color-border-error_inverse_hover: var(--color-red-300);
	--color-border-success: var(--color-green-500);
	--color-border-warning-primary: var(--color-yellow-500);
	--color-border-warning-secondary: var(--color-yellow-300);
	--color-bg-primary: #ffffff;
	--color-bg-primary_inverse: var(--color-neutral-900);
	--color-bg-secondary: var(--color-neutral-50);
	--color-bg-tertiary: var(--color-neutral-100);
	--color-bg-quaternary: var(--color-neutral-200);
	--color-bg-overlay: var(--color-neutral-900);
	--color-bg-disabled: var(--color-neutral-300);
	--color-bg-dark_tertiary: var(--color-neutral-400);
	--color-bg-brand-primary: var(--color-brand-50);
	--color-bg-brand-primary_inverse: var(--color-brand-500);
	--color-bg-brand-secondary: var(--color-brand-100);
	--color-bg-brand-tertiary: var(--color-brand-200);

	--color-bg-link: var(--color-blue-500);
	--color-bg-link_hover: var(--color-blue-600);
	--color-bg-error-primary: var(--color-red-50);
	--color-bg-error-primary_inverse: var(--color-red-500);
	--color-bg-error-primary_inverse_hover: var(--color-red-700);
	--color-bg-error-secondary: var(--color-red-100);
	--color-bg-error-tertiary: var(--color-red-200);
	--color-bg-success-primary: var(--color-green-50);
	--color-bg-success-primary_inverse: var(--color-green-500);
	--color-bg-success-secondary: var(--color-green-100);
	--color-bg-warning-primary: var(--color-yellow-50);
	--color-bg-warning-primary_inverse: var(--color-yellow-500);
	--color-bg-warning-secondary: var(--color-yellow-100);
	--color-fg-primary: var(--color-neutral-900);
	--color-fg-primary_inverse: var(--white);
	--color-fg-primary_on-brand: var(--color-neutral-50);
	--color-fg-secondary: var(--color-neutral-700);
	--color-fg-secondary_inverse: var(--color-neutral-400);
	--color-fg-secondary_hover: var(--color-neutral-800);
	--color-fg-secondary_on-brand: var(--color-neutral-100);
	--color-fg-tertiary: var(--color-neutral-500);
	--color-fg-tertiary_hover: var(--color-neutral-600);
	--color-fg-tertiary_on-brand: var(--color-neutral-200);
	--color-fg-disabled: var(--color-neutral-300);
	--color-fg-brand-primary: var(--color-brand-500);
	--color-fg-brand-secondary: var(--color-brand-300);
	--color-fg-link: var(--color-blue-500);
	--color-fg-error-primary: var(--color-red-500);
	--color-fg-error-secondary: var(--color-red-400);
	--color-fg-success-primary: var(--color-green-500);
	--color-fg-success-secondary: var(--color-green-400);
	--color-fg-warning-primary: var(--color-yellow-500);
	--color-fg-warning-secondary: var(--color-yellow-400);
	--color-utility-green: var(--color-green-500);
	--color-utility-yellow: var(--color-yellow-600);
	--color-utility-blue: var(--color-blue-500);
	--color-utility-violet: var(--color-violet-500);
	--color-utility-red: var(--color-red-500);

	/* Tag colors */
	--color-tag-green-vivid-bg: var(--color-green-500);
	--color-tag-green-subtle-bg: var(--color-green-300);
	--color-tag-green-subtle-text: var(--color-green-700);
	--color-tag-gray-vivid-bg: var(--color-grey-500);
	--color-tag-gray-subtle-bg: var(--color-grey-100);
	--color-tag-red-vivid-bg: var(--color-red-500);
	--color-tag-red-subtle-bg: var(--color-red-200);
	--color-tag-red-subtle-text: var(--color-red-700);
	--color-tag-blue-vivid-bg: var(--color-blue-500);
	--color-tag-blue-subtle-bg: var(--color-blue-300);
	--color-tag-blue-subtle-text: var(--color-blue-600);
	--color-tag-yellow-vivid-bg: var(--color-yellow-500);
	--color-tag-yellow-vivid-text: var(--color-yellow-900);
	--color-tag-yellow-subtle-bg: var(--color-yellow-300);
	--color-tag-yellow-subtle-text: var(--color-yellow-800);

	--font-leading-14: 56px;
}

@theme inline {
	--font-family-sans: "Inter", system-ui, sans-serif;
	--font-family-mono: "JetBrains Mono", monospace;
}

.no-scrollbar::-webkit-scrollbar {
	display: none;
}

.no-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

body ::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

body ::-webkit-scrollbar-track {
	background: transparent;
}

body ::-webkit-scrollbar-thumb {
	background-color: var(--color-elements-disabled);
	border-radius: 4px;
}

body ::-webkit-scrollbar-thumb:hover {
	background-color: var(--color-elements-assistive);
}
@supports not selector(::-webkit-scrollbar) {
	body {
		scrollbar-color: var(--color-elements-disabled) rgba(0, 0, 0, 0);
		scrollbar-width: thin;
	}
}

.toolbar-shadow {
	box-shadow:
		0px 70px 20px 0px rgba(0, 0, 0, 0),
		0px 45px 18px 0px rgba(0, 0, 0, 0),
		0px 25px 15px 0px rgba(0, 0, 0, 0.01),
		0px 11px 11px 0px rgba(0, 0, 0, 0.02),
		0px 3px 6px 0px rgba(0, 0, 0, 0.02);
}

.dropdown-menu-shadow {
	box-shadow:
		0px 10px 15px -3px rgba(0, 0, 0, 0.1),
		0px 4px 6px -2px rgba(0, 0, 0, 0.05);
}
