/* External dependencies should go to deps.css */
@import "./shadcn/shadcn.css";
@import "./tokens.css";
@import "./typography.css";

@theme {
	--color-selection: var(--color-blue-300);
	--color-ring-red: var(--color-red-200);
	--color-ring-green: var(--color-green-200);
	--color-ring-yellow: var(--color-yellow-200);
	--color-ring-purple: var(--color-purple-200);
	--color-ring-orange: var(--color-orange-200);
	--color-ring-pink: var(--color-pink-200);
	--color-ring-blue: var(--color-blue-300);
	--color-ring-red: var(--color-red-200);
	--color-text-primary: var(--color-neutral-900);
	--color-text-secondary: var(--color-neutral-500);
	--color-text-secondary_hover: var(--color-neutral-600);
	--color-text-primary_on-brand: var(--color-neutral-50);
	--color-text-secondary_on-brand: var(--color-neutral-100);
	--color-text-tertiary: var(--color-neutral-400);
	--color-text-quternary: var(--color-neutral-400);
	--color-text-quternary_hover: var(--color-neutral-500);
	--color-text-quternary_on-brand: var(--color-neutral-200);
	--color-text-disabled: var(--color-neutral-300);
	--color-text-link: var(--color-blue-500);
	--color-text-link_hover: var(--color-blue-600);
	--color-text-link_disabled: var(--color-blue-400);
	--color-text-brand-primary: var(--color-brand-500);
	--color-text-brand-secondary: var(--color-brand-300);
	--color-text-brand-secondary_hover: var(--color-brand-400);
	--color-text-error-primary: var(--color-red-500);
	--color-text-error-secondary: var(--color-red-400);
	--color-text-success-primary: var(--color-green-500);
	--color-text-warning-primary: var(--color-yellow-500);
	--color-white: #ffffff;
	--color-border-primary: var(--color-neutral-300);
	--color-border-primary_hover: var(--color-neutral-400);
	--color-border-secondary: var(--color-neutral-200);
	--color-border-separator: var(--color-neutral-200);
	--color-border-disabled: var(--color-neutral-100);
	--color-border-brand: var(--color-brand-500);
	--color-border-link: var(--color-blue-500);
	--color-border-error: var(--color-red-500);
	--color-border-error_inverse: var(--color-red-400);
	--color-border-error_inverse_hover: var(--color-red-300);
	--color-border-success: var(--color-green-500);
	--color-bg-primary: #ffffff;
	--color-bg-primary_inverse: var(--color-neutral-900);
	--color-bg-secondary: var(--color-neutral-50);
	--color-bg-tertiary: var(--color-neutral-100);
	--color-bg-quaternary: var(--color-neutral-200);
	--color-bg-overlay: var(--color-neutral-900);
	--color-bg-disabled: var(--color-neutral-300);
	--color-bg-brand-primary: var(--color-brand-50);
	--color-bg-brand-primary_inverse: var(--color-brand-500);
	--color-bg-brand-secondary: var(--color-brand-100);
	--color-bg-brand-tertiary: var(--color-brand-200);

	--color-bg-link: var(--color-blue-500);
	--color-bg-link_hover: var(--color-blue-600);
	--color-bg-error-primary: var(--color-red-50);
	--color-bg-error-primary_inverse: var(--color-red-500);
	--color-bg-error-primary_inverse_hover: var(--color-red-700);
	--color-bg-error-secondary: var(--color-red-100);
	--color-bg-error-tertiary: var(--color-red-200);
	--color-bg-success-primary: var(--color-green-50);
	--color-bg-success-primary_inverse: var(--color-green-500);
	--color-bg-success-secondary: var(--color-green-100);
	--color-bg-warning-primary: var(--color-yellow-50);
	--color-bg-warning-primary_inverse: var(--color-yellow-500);
	--color-bg-warning-secondary: var(--color-yellow-100);
	--color-fg-primary: var(--color-neutral-900);
	--color-fg-primary_inverse: var(--white);
	--color-fg-primary_on-brand: var(--color-neutral-50);
	--color-fg-secondary: var(--color-neutral-700);
	--color-fg-secondary_inverse: var(--color-neutral-400);
	--color-fg-secondary_hover: var(--color-neutral-800);
	--color-fg-secondary_on-brand: var(--color-neutral-100);
	--color-fg-tertiary: var(--color-neutral-400);
	--color-fg-tertiary_hover: var(--color-neutral-600);
	--color-fg-tertiary_on-brand: var(--color-neutral-200);
	--color-fg-disabled: var(--color-neutral-300);
	--color-fg-brand-primary: var(--color-brand-500);
	--color-fg-brand-secondary: var(--color-brand-300);
	--color-fg-link: var(--color-blue-500);
	--color-fg-error-primary: var(--color-red-500);
	--color-fg-error-secondary: var(--color-red-400);
	--color-fg-success-primary: var(--color-green-500);
	--color-fg-success-secondary: var(--color-green-400);
	--color-fg-warning-primary: var(--color-yellow-500);
	--color-fg-warning-secondary: var(--color-yellow-400);
}

@theme inline {
	--font-family-sans: "Inter", system-ui, sans-serif;
	--font-family-mono: "JetBrains Mono", monospace;
}