name: Release

on:
  workflow_dispatch:
    inputs:
      dist_tag:
        type: choice
        description: 'npm dist tag'
        required: true
        default: 'alpha'
        options:
          - alpha
          - latest

permissions:
  id-token: write

jobs:
  release:
    name: Release
    if: github.repository == 'HealthSamurai/aidbox-ts-sdk' && github.event_name == 'workflow_dispatch'
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - name: Install pnpm
        uses: pnpm/action-setup@v4
      - name: Install node
        uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: "pnpm"
          registry-url: 'https://registry.npmjs.org/'
      - name: Install dependencies
        run: pnpm install --frozen-lockfile
      - name: Build
        run: pnpm -r run --sort build
      - name: Publish
        run: |
          pnpm -r publish --tag ${{ github.event.inputs.dist_tag }} --publish-branch master
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
